.wordItem {
    display: flex;
    flex-direction: row;
    border-color: rgba(0, 0, 0, 0.355);
    font-family: var(--basicFont);
}

.word_input {
    width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--headerFooter);
    line-height: 1;
    font-size: var(--fontText);
}

.save {
    background-image: url("../../../public/assets/img/saveButton.svg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 5vh;
}

.cancel {
    background-image: url("../../../public/assets/img/cancelButton.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}
.word_input:hover {
    transform: scale(1);
    box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    color: black;
}

.word_input:focus {
    background-color: var(--focusWord);
}

.word_input:active  {
    box-shadow: var(--shadowActive);
}

.button:hover {
    transform: scale(1);
    box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s, transform 0.5s;
    color: black;
}

.button:active {
    box-shadow: var(--shadowActive);
}